@model Azure.WebRole.CapacityTesting.Models.CapacityTestData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Async CTP result</title>
    </head>
    <body>
        <div>@Model.PartitionKey result @TimeSpan.FromMilliseconds(Model.ElapsedMilliseconds)</div>
    </body>
</html>
