@model Azure.WebRole.CapacityTesting.Models.CapacityTestData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Async result</title>
    </head>
    <body>
        <div>Async result @Model.ElapsedTicks</div>
    </body>
</html>
